<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./../../assets/styles/main.css">
	<link rel="stylesheet" href="./../../assets/styles/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="./../../assets/images/favicon.png" type="image/x-icon">
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	<header class="header">
		<div class="navbar">
			<div class="logo">
				<a href="./../../index.html"><img src="./../../assets/images/favicon.png" alt="logo" class="img-fluid"></a>
			</div>
			<nav class="nav-list">
				<div class="container">
					{% for i in range(0, brands|length, 3) %}
					<div class="row">
						{% for brand in brands[i:i+3] %}
						<div class="brand-card col-md-4 mb-3">
							<a class="brand-link" href="./../../pages/{{ brand.brand_name }}/page1.html">
								<div class="brand-image">
									<img src="{{ brand.image_url }}" alt="Logo {{ brand.brand_name }}">
								</div>
								<div class="brand-name">
									{{ brand.brand_name }}
								</div>
							</a>
						</div>
						{% endfor %}
					</div>
					{% endfor %}
				</div>
			</nav>
			<a href="#contacts" class="contacts-link">Контакты</a>
		</div>
		<div class="container d-flex flex-column justify-content-center align-items-center text-center text-white"
			style="height: 100vh;">
			<h1>МАШИНЫ</h1>
			<h2>ПОД ВАШ ВКУС</h2>
		</div>
	</header>

	{% block main %}
	{% endblock %}

	<footer class="text-center text-lg-start bg-body-tertiary text-muted">
		<div class="container text-center text-md-start mt-5">
			<div class="row mt-3">
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<div class="footer_section_title d-flex align-items-center">
						<img class="footer_logo me-2" src="./../../assets/images/3place_logo.png" alt="3place logo">
						<h6 class="text-uppercase fw-bold mb-3">
							Третье место
						</h6>
					</div>
					<p>
						Данный проект реализован для школы «Третье место» в обучающих целях
					</p>
				</div>

				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<div class="footer_section_title d-flex align-items-center">
						<img class="footer_logo drom me-2" src="./../../assets/images/drom_logo.png" alt="Drom logo">
						<h6 class="text-uppercase fw-bold mb-3">
							Дром
						</h6>
					</div>
					<p>
						Информация о марках и машинах взята с официального сайта <a target="_blank"
							href="https://drom.ru/">drom.ru</a>
					</p>
				</div>

				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<p class="text-uppercase fw-bold mb-3">Подпишись на наши новости</p>
					<form action="#" class="email d-flex flex-wrap justify-content-center">
						<div class="col-12 mb-2">
							<div class="form-outline">
								<input type="email" class="form-control" placeholder="Электронная почта">
							</div>
						</div>
						<div class="col-12">
							<button type="button" class="btn btn-primary w-100">
								Подписаться
							</button>
						</div>
					</form>
				</div>

				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<p class="text-uppercase fw-bold mb-3" id="contacts">Контакты</p>
					<p>
						<i class="fa fa-envelope me-2"></i>
						auto@gmail.com
					</p>
					<p>
						<i class="fa fa-phone me-2"></i>
						+7 904 000 00-00
					</p>
				</div>
			</div>
		</div>

		<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
			© 2024
		</div>
	</footer>


	<script>
	</script>
</body>

</html>