<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles/main.css">
    <link rel="stylesheet" href="assets/styles/bootstrap.min.css">
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
    <title>Выбор авто — Главная</title>
</head>

<body>
    <header class="header">
        <div class="navbar">
            <div class="logo">
                <a href="index.html"><img src="assets/images/favicon.png" alt="logo" class="img-fluid"></a>
            </div>
            <nav class="nav-list">
                <div class="container">
                    {% for i in range(0, brands|length, 3) %}
                    <div class="row">
                        {% for brand in brands[i:i+3] %}
                        <div class="col-md-4 mb-4">
                            <a class="nav-link" href="#{{ brand.brand_name }}">
                                <img src="{{ brand.image_url }}" alt="Logo {{ brand.brand_name }}">
                                {{ brand.brand_name }}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </nav>
            <a href="#contacts" class="contacts-link">Контакты</a>
        </div>
        <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white"
            style="height: 100vh;">
            <h1>МАШИНЫ</h1>
            <h2>ПОД ВАШ ВКУС</h2>
        </div>
    </header>

    <main class="main-container">
        <h2 class="text-center mb-4 mt-4">Поиск объявлений</h2>
        {% for brand in brands %}
        <section class="car-section mt-5 container">
            <h2 class="text-center mb-4">{{ brand.brand_name }}</h2>
            {% for i in range(0, automobiles|length, 3) %}
            <div class="card-articles row">
                {% for title, year, drive, price, brand in automobile[i:i+3] %}
                <article class="card-article col-md-4">
                    <div class="car-card">
                        <img src="{{ car.image_url }}" alt="Автомобиль {{ brand }}" class="car-preview">
                        <div class="car-details">
                            <h5>{{ model }}, {{ year }}</h5>
                            <p class="car-price">{{ price }} ₽</p>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
            {% endfor %}
        </section>
        {% endfor %}
    </main>
</body>

</html>