<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles/main.css">
    <link rel="stylesheet" href="assets/styles/bootstrap.min.css">
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
    <title>Выбор авто — Главная</title>
</head>

<body>
    <header class="header">
        <div class="navbar">
            <div class="logo">
                <a href="index.html"><img src="assets/images/favicon.png" alt="logo" class="img-fluid"></a>
            </div>
            <nav class="nav-list">
                <div class="container">
                    {% for i in range(0, brands|length, 3) %}
                    <div class="row">
                        {% for brand in brands[i:i+3] %}
                        <div class="brand-card col-md-4 mb-3">
                            <a class="brand-link" href="#{{ brand.brand_name }}">
                                <div class="brand-image">
                                    <img src="{{ brand.image_url }}" alt="Logo {{ brand.brand_name }}">
                                </div>
                                <div class="brand-name">
                                    {{ brand.brand_name }}
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </nav>
            <a href="#contacts" class="contacts-link">Контакты</a>
        </div>
        <div class="container d-flex flex-column justify-content-center align-items-center text-center text-white"
            style="height: 100vh;">
            <h1>МАШИНЫ</h1>
            <h2>ПОД ВАШ ВКУС</h2>
        </div>
    </header>

    <main class="main-container">
        <h2 class="text-center title">Поиск объявлений</h2>
        {% for brand in brands %}
        <section class="car-section mt-5 container">
            <h2 class="text-center mb-4">{{ brand.brand_name }}</h2>
            {% for i in range(0, cars|length, 3) %}
            <div class="card-articles row">
                {% for car in cars[i:i+3] %}
                <article class="card-article col-md-4">
                    <div class="car-card">
                        <img src="{{ car.image_url }}" alt="Автомобиль {{ car.title }}" class="car-preview">
                        <div class="car-details">
                            <h5>{{ car.model }}, {{ car.year }}</h5>
                            <p class="car-price">{{ car.price }} ₽</p>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
            {% endfor %}
        </section>
        {% endfor %}
    </main>

    <hr>
    <footer class="footer-container text-center text-lg-start bg-body-tertiary text-muted">
        <section>
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
                        <p><i class="fas fa-enlope me-3">
                                auto@example.com
                            </i></p>
                        <p><i class="fas me-3">
                                +7 (000) 000 00-00
                            </i></p>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-4">
            &copy; 2024 Auto
        </div>
    </footer>

    <script src="assets/scripts/bootstrap.min.js"></script>
</body>

</html>